body {
    background: url(../img/napoli.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 75vh;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.floatingBtn {
    animation-name: floatingBtn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 75vh;
}

@keyframes floatingBtn {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 17px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

#imgContainer {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-size: cover;
    position: fixed;
    bottom: 10%;
    left: 50%;
}

#playImg {
    height: 30vh;
    width: auto;
    position: fixed;
    bottom: 10%;
}

#playImg:hover {
    cursor: pointer;
}

.projectile {
    position: absolute;
    width: 12vw;
    height: 17vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: projectile;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.orologio {
    background-image: url(../img/watch.png);
}

.petardo {
    background-image: url(../img/firecracker.png);
}

.pizza {
    background-image: url(../img/pizza.png);
}

.pietra {
    background-image: url(../img/flaming-rock.png);
}

@keyframes projectile {
    0% {
        transform: translate(0, 0vh);
    }

    100% {
        transform: translate(0, 100vh);
    }
}

.paused {
    animation-play-state: paused !important;
    transition: none !important;
}

#text {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.vita {
    height: 15vw;
    width: 15vw;
}

#points {
    font-family: simpson;
}


@font-face {
    font-family: simpson;

    src:
        url('../fonts/Simpsonfont.ttf');

    height: 10vw;
    width: 10vw;
}

#gameOverModal{
    font-family: simpson;
}

.tableScore {
    font-family: simpson;
    margin-top: 30px;
    color: white;
    font-weight: bold;
}

.tableScore td {
    text-align: center;
    padding: 7px;
}

.tableScore th {
    text-align: center;
    padding: 10px;
}

#btnEnd {
    font-family: inherit;
    font-size: 20px;
    background: red;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

#btnEnd span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

#btnEnd svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

#btnEnd:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

#btnEnd:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

#btnEnd:hover span {
    transform: translateX(5em);
}

#btnEnd:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}


.inputbox {
    position: relative;
    width: 196px;
}

.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
    color: red;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0, 75em;
}

.inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: red;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid~i,
.inputbox input:focus~i {
    height: 44px;
}