body {
    background: url(/www/img/napoli.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 75vh;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.floatingBtn {
    animation-name: floatingBtn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 75vh;
}

@keyframes floatingBtn {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 17px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

#imgContainer {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-size: cover;
    position: fixed;
    bottom: 10%;
    left: 50%;
}

#playImg {
    height: 30vh;
    width: auto;
    position: fixed;
    bottom: 10%;
}

#playImg:hover {
    cursor: pointer;
}

.projectile {
    position: absolute;
    width: 12vw;
    height: 17vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: projectile;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.orologio {
    background-image: url(../img/watch.png);
}

.petardo {
    background-image: url(../img/firecracker.png);
}

.pizza {
    background-image: url(../img/pizza.png);
}

.pietra {
    background-image: url(../img/flaming-rock.png);
}

@keyframes projectile {
    0% {
        transform: translate(0, 0vh);
    }

    100% {
        transform: translate(0, 100vh);
    }
}

.paused {
    animation-play-state: paused !important;
    transition: none !important;
}

#text {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.vita{
    height: 10vw;
    width: 10vw;
}