html,
body {
    background-image: url(/www/img/napoli.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 75vh;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

#playImg{
    height: 20vh;
    width: auto;
}

#playImg:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: all 300ms;
}
